<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/tui-grid/dist/tui-grid.css">
    <link rel="stylesheet" type="text/css" href="/tui-pagination/dist/tui-pagination.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <script src="/tui-pagination/dist/tui-pagination.js" defer></script>
    <script src="/tui-grid/dist/tui-grid.js" defer></script>
    <title>Admin Page</title>
</head>
<body>
<div layout:fragment="content">
    <div layout:replace="fragments/adminnav :: NaviAdmin"></div>
    <div id="adminContent" class="d-flex flex-column justify-content-start mt-3">
        <div id="pageInfo" class="align-self-center">
            <h1 class="py-2">Members</h1>
            <span class="py-1">전체 회원을 관리하는 페이지입니다.</span>
        </div>
        <div id="tableInfo" class="my-3 d-flex flex-row justify-content-between align-items-center">
            <div class="dropdown d-flex align-items-center">
                <label for="sortSelect" id="sortLabel" class="me-2"><b>정렬기준</b></label>
                <select id="sortSelect" class="form-select dropdown-toggle" data-toggle="dropdown">
                    <option class="dropdown-item" id="sortId" value="id">회원번호</option>
                    <option class="dropdown-item" id="sortUsername" value="username">아이디</option>
                    <option class="dropdown-item" id="sortNickname" value="nickname">닉네임</option>
                    <option class="dropdown-item" id="sortBirth" value="birth">생년월일</option>
                    <option class="dropdown-item" id="sortGender" value="gender">성별</option>
                    <option class="dropdown-item" id="sortReg" value="regdate">가입일자</option>
                </select>
            </div>
<!--            <span class="d-flex" th:text="'총 회원 수 : ' + ${memberList.getTotalElements()}"></span>-->
        </div>

        <div id="memberGrid" class="d-flex flex-column justify-content-around align-items-stretch table-responsive table-hover">
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/admin/adminpage.js"></script>
    <script>
        window.onload = function () {
            const pageTitle = $('#pageInfo h1').text();
            getDatasource();
            memberResponseHandler();
            selectMenu(pageTitle);
            selectOrder();
            clickMember();
            sortBy();
        }
    </script>
</th:block>
</body>
</html>