<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
<!--    <link rel="stylesheet" type="text/css" href="/css/form.css">-->
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/chart.css">
    <title>Admin Page</title>
</head>
<body>
<div layout:fragment="content">
    <div layout:replace="fragments/adminnav :: NaviAdmin"></div>
    <div id="adminContent" class="d-flex flex-column flex-md-shrink-1 justify-content-start mt-3">
        <div id="pageInfo" class="align-self-center">
            <h1 class="py-2">Statics</h1>
            <span class="py-1">카테고리 별 신규 게시글 통계 페이지입니다.</span>
        </div>
        <div id="chartInfo" class="my-3 d-flex flex-row justify-content-start align-items-center">
            <div id="categoryDiv" class="dropdown d-flex justify-content-start align-items-center">
                <select id="yearSelect" class="dropdown-toggle form-select me-2" data-toggle="dropdown">
                    <th:block th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), 2015)}">
                        <option class="dropdown-item" th:value="${year}" th:text="${year}+년"></option>
                    </th:block>
                </select>
                <select id="monthSelect" class="dropdown-toggle form-select" data-toggle="dropdown">
                    <th:block th:each="month : ${#numbers.listFormatInteger(#numbers.sequence(1, 12), 2)}">
                        <option class="dropdown-item" th:value="${month}" th:text="${month}+월"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <canvas id="chart"></canvas>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/chart/dist/chart.js" defer></script>
    <script type="text/javascript" src="/js/adminpage.js"></script>
    <script type="text/javascript" src="/js/adminChart.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            const pageTitle = $('#pageInfo h1').text();
            selectMenu(pageTitle);
            setDate(); // 현재에 해당하는 년도와 월이 선택되게 하는 함수
        }
    </script>
</th:block>
</body>
</html>