<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div id="postContent" class="d-flex flex-column justify-content-center align-items-stretch align-self-center form-box">
        <h1>Write Review</h1>
        <form  class="form-group" th:action="@{/post/bbs}" th:object="${memberInfo}" method="post">
            <input type="hidden" id="hiddenId" th:field="*{id}">
            <label th:for="bbsTitle" class="form-label">
                <b>Title</b></label>
            <input type="text" class="form-control">
            <button type="button" class="btn btn-primary form-button">등록</button>
        </form>
    </div>
</div>
</body>
</html>