<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
<!--    <script src="/ckeditor/ckeditor.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/css/editbbs.css">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div id="postContent"
         class="d-flex flex-column justify-content-evenly align-items-stretch">
        <form class="form-group d-grid" th:action="@{'/post/bbs/update?id=' + ${bbs.id}}" th:object="${bbs}"
              id="formEdit" method="post" onsubmit="return validateBbs();">
            <!-- id -->
            <input type="hidden" id="hiddenId" th:field="*{id}">
            <!-- category 선택 -->
            <label id="categoryLabel" class="form-label" th:for="bbsCategory"><b>Category</b></label>
            <select id="bbsCategory" class="btn dropdown-toggle" th:field="*{categoryId}" data-bs-toggle="dropdown" name="categoryId">
                <th:block th:each="category : ${session.categoryList}">
                    <option class="dropdown-item" th:value="${category.id}" th:text="${category.name}"></option>
                </th:block>
            </select>
            <!-- 제목 -->
            <label id="titleLabel" class="form-label" for="bbsTitle"><b>Title</b></label>
            <input type="text" id="bbsTitle" class="form-control" name="bbsTitle" th:field="*{bbsTitle}"><br>
            <!-- 내용 -->
            <label id="contentsLabel" for="bbsContents" class="form-label"><b>Contents</b></label><br>
            <textarea id="bbsContents" class="form-box" name="bbsContents" th:field="*{bbsContents}"></textarea>
            <div id="btnGroup">
                <button type="button" id="cancelBtn" class="btn btn-outline-secondary form-button" onclick="window.history.back();">취소</button>
                <button type="submit" id="updateBtn" class="btn btn-primary form-button">수정</button>
            </div>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/post.js"></script>
    <script type="text/javascript">
        // window.onload = function() {ck = CKEDITOR.replace("bbsContents");}
        window.onload = function () {
            ClassicEditor
                .create(document.querySelector('#bbsContents'))
                .then(function () {
                    window.editor = editor;
                    contentValidate();
                    showCKEditorContent();
                })
                .catch(error => {
                    console.error(error);
                });
            ClassicEditor.replace("bbsContents");
            titleValidate();
        }
    </script>
</th:block>
</body>
</html>