<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div id="writeContent" class="d-flex justify-content-center align-items-center">
        <h2>아직 카테고리가 추가되지 않았습니다. 관리자에게 문의해주세요.</h2>
    </div>
</div>
</body>
</html>