<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/editbbs.css">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div layout:replace="fragments/postnav :: NaviPost"></div>
    <div id="postContent" class="d-flex flex-column">
        <div id="pageInfo" class="d-flex flex-column align-items-center align-self-center pb-4">
            <h1 class="py-2" th:text="${session.categoryList.get(categoryIndex).getName()}"></h1>
            <span class="py-1" th:text="${session.categoryList.get(categoryIndex).getDescription()}"></span>
        </div>
        <h2 th:unless="${!bbsList.isEmpty()}">아직 글이 없습니다.</h2>
        <table id="table" th:if="${!bbsList.isEmpty()}"
            class="flex-column justify-content-around align-items-stretch
                table table-striped table-responsive table-hover">
            <thead>
            <tr>
                <th style="width:8%;">번호</th>
                <th style="width:30%;">제목</th>
                <th style="width:20%;">작성자</th>
                <th style="width:20%;">작성날짜</th>
                <th style="width:8%;">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bbs : ${bbsList}"
                th:onclick="|location.href='@{/post/bbs/view(id=${bbs.id})}'|">
                <td style="width:8%;" th:text="${bbs.getId()}"></td>
                <td style="width:30%;"><a class="bbs-link link-dark" th:text="${bbs.getBbsTitle()}"></a></td>
                <td style="width:20%;" th:text="${bbs.getBbsWriter()}"></td>
                <td style="width:20%;" th:text="${bbs.getBbsDate()}"></td>
                <td style="width:8%;"  th:text="${bbs.getBbsViews()}"></td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex flex-row justify-content-end">
            <a th:href="@{/post/bbs/write(category=${session.categoryList.get(categoryIndex).id})}" class="btn btn-primary">
                작성
            </a>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!--  없으면 ajax가 동작하지 않음  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/post.js"></script>
    <script>
        window.onload = function () {
            updateViews();
        }
    </script>

</th:block>
</body>
</html>