<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bbs.css">
    <link rel="stylesheet" type="text/css" href="/tui-grid/dist/tui-grid.css">
    <link rel="stylesheet" type="text/css" href="/tui-pagination/dist/tui-pagination.css">
    <script src="/tui-pagination/dist/tui-pagination.js" defer></script>
    <script src="/tui-grid/dist/tui-grid.js" defer></script>
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div layout:replace="fragments/postnav :: NaviPost"></div>
    <div id="writeContent" class="d-flex flex-column">
        <input type="hidden" id="categoryId" th:value="${#request.getParameter('category')}">
        <div id="pageInfo" class="d-flex flex-column align-items-center align-self-center pb-3">
            <h1 class="py-2" th:text="${session.categoryList.get(categoryIndex).getName()}"></h1>
            <span class="py-1" th:text="${session.categoryList.get(categoryIndex).getDescription()}"></span>
        </div>

        <div id="tableInfo">
            <div id="sortInfo" class="d-flex flex-row justify-content-start align-items-center">
                <label for="sortStandard" id="sortLabel" class="me-2"><b>정렬기준</b></label>
                <div class="dropdown d-flex align-items-center">
                    <select id="sortStandard" class="form-select dropdown-toggle" data-toggle="dropdown">
                        <option class="dropdown-item" value="id">글번호</option>
                        <option class="dropdown-item" value="bbsTitle">제목</option>
                        <option class="dropdown-item" value="bbsWriter">작성자</option>
                        <option class="dropdown-item" value="bbsDate">작성날짜</option>
                        <option class="dropdown-item" value="bbsViews">조회수</option>
                        <option class="dropdown-item" value="likeCnt">추천수</option>
                    </select>
                </div>
            </div>

            <!-- 검색 -->
            <div id="search" class="d-flex flex-row justify-content-end align-items-center">
                <div class="dropdown d-flex align-items-center">
                    <select id="findStandard" class="form-select dropdown-toggle" data-toggle="dropdown">
                        <option class="dropdown-item" value="bbsTitle">제목</option>
                        <option class="dropdown-item" value="bbsWriter">작성자</option>
                    </select>
                </div>
                <input id="searchInput" class="ms-1" type="text">
                <img src="/img/search.png" class="ms-2" id="searchImg">
            </div>
        </div>
        <!--   데이터가 있을때만 노출    -->
        <div id="grid" class="flex-column justify-content-around align-items-stretch table-responsive table-hover">
        </div>
        <!--   데이터가 있건 없건 노출    -->
        <div class="d-flex flex-row justify-content-end">
            <a th:href="@{/post/bbs/write(category=${session.categoryList.get(categoryIndex).id})}" class="btn btn-primary">
                작성
            </a>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!--  없으면 ajax가 동작하지 않음  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/gridSetting.js"></script>
    <script src="/js/post.js"></script>
    <script>
        window.onload = function () {
            getCategoryId($('#categoryId').val()); // 카테고리 아이디
            setDatasource(); // 데이터 소스 정의 및 grid 생성
            responseHandler();
            sortBbs();
        }
    </script>
</th:block>
</body>
</html>