<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/viewbbs.css">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div id="postContent" class="d-flex flex-column justify-content-evenly">
        <div id="categoryInfo" class="mb-3">
            <h1>
                <a th:href="@{'/post/bbs?category=' + ${session.categoryList.get(categoryId).getId()}}"
                   th:text="${session.categoryList.get(categoryId).getName()}"></a>
            </h1>
            <small th:text="${session.categoryList.get(categoryId).getDescription()}" class="text-muted"></small>
        </div>
        <table id="tableDiv" class="table table-responsive">
            <tr id="bbsTitleTr">
                <th>제목</th>
                <td colspan="7" th:text="${bbs.bbsTitle}"></td>
            </tr>

            <tr id="bbsWriterTr">
                <th>작성자</th>
                <td th:text="${bbs.bbsWriter}"></td>
                <th>작성 날짜</th>
                <td th:text="${bbs.bbsDate}"></td>
            </tr>

            <tr id="bbsContentsTr">
                <td id="bbsContents" colspan="8" rowspan="5" class="ps-3 pt-3" th:text="${bbs.bbsContents}"></td>
            </tr>
        </table>
        <div id="previousBtnDiv" class="d-flex justify-content-between align-items-center my-3">
            <button type="button" id="previousBtn" class="btn btn-outline-secondary"
                onclick="window.history.back();">이전</button>
            <div id="ownerBtnGroup" class="d-flex justify-content-end align-items-center"
                 th:if="${bbs.bbsWriter == session.memberInfo.getNickname()}">
                <button type="button" id="deleteBtn" class="btn btn-outline-danger me-3">삭제</button>
                <a th:href="@{'/post/bbs/update?id=' + ${bbs.id}}" id="updateBtn" class="btn btn-primary">수정</a>
            </div>
        </div>

    </div>
</div>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/post.js"></script>
    <script>
        window.onload = function () {
            //<[CDATA[
            const bbsId = [[${bbs.id}]];
            const categoryId = [[${bbs.categoryId}]];
            deleteBbs(bbsId, categoryId);
            //]]>
        }
    </script>
</th:block>
</body>
</html>