<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/viewbbs.css">
    <link rel="stylesheet" type="text/css" href="/css/reply.css">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div id="writeContent" class="d-flex flex-column justify-content-start">
        <div id="categoryInfo" class="mb-3">
            <h1>
                <a th:href="@{'/post/bbs?category=' + ${session.categoryList.get(categoryId).getId()}}"
                   th:text="${session.categoryList.get(categoryId).getName()}"></a>
            </h1>
            <small th:text="${session.categoryList.get(categoryId).getDescription()}" class="text-muted"></small>
        </div>
        <table id="tableDiv" class="table table-responsive">
            <tr id="bbsTitleTr">
                <th>제목</th>
                <td colspan="7" th:text="${bbs.bbsTitle}"></td>
            </tr>

            <tr id="bbsWriterTr">
                <th>작성자</th>
                <td th:text="${bbs.bbsWriter}"></td>
                <th>작성 날짜</th>
                <td th:text="${bbs.bbsDate}"></td>
            </tr>

            <tr id="bbsContentsTr">
                <td id="bbsContents" class="ps-3 pt-3"
                    th:utext="${bbs.bbsContents}"></td>
            </tr>
        </table>
        <div id="utilBtnDiv" class="d-flex justify-content-between align-items-center my-3">
            <div id="likeOrDislikeBtnGroup" class="d-flex justify-content-start align-items-center">
                <button type="button" id="likeBtn" class="btn btn-outline-secondary me-3">
                    <th:block th:if="${heartObj != null && heartObj.isLiked}">
                        <img class="likeBtnImg me-2" id="heartImg" src="/img/heart.png">
                    </th:block>
                    <th:block th:unless="${heartObj != null && heartObj.isLiked}">
                        <img class="likeBtnImg me-2" id="emptyHeartImg" src="/img/emptyHeart.png">
                    </th:block>
                    <strong class="me-2">LIKE</strong>
                    <span id="likeCntText" th:text="${bbs.likeCnt}"></span>
                </button>
                <button type="button" id="replyBtn" class="btn btn-outline-secondary">
                    <img class="commentImg me-2" id="commentImg" src="/img/comment.png">
                    <span th:text="${bbs.replyCnt}"></span>
                </button>
            </div>
            <div id="ownerBtnGroup" class="d-flex justify-content-end align-items-center"
                 th:if="${bbs.bbsWriter == session.memberInfo.getNickname()}">
                <button type="button" id="deleteBbsBtn" class="btn btn-outline-danger me-3">삭제</button>
                <a th:href="@{'/post/bbs/update?id=' + ${bbs.id}}" id="updateBtn" class="btn btn-primary">수정</a>
            </div>
        </div>
        <div layout:replace="fragments/reply :: replyFragment"></div>
    </div>

</div>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/reply.js"></script>
    <script>
        window.onload = function () {
            //<[CDATA[
            const bbsId = [[${bbs.id}]];
            const categoryId = [[${bbs.categoryId}]];
            createReply(bbsId); // 댓글 생성
            deleteBbs(bbsId, categoryId); // 게시글 삭제 리스너
            autoResizing();
            deleteReply(bbsId); // 댓글 삭제 리스너
            showReplyModal(); // 댓글 수정 모달
            modalListener(); // 댓글 수정 모달에서 수정 눌렀을 때
            emojiClickEvent(); // 이모지 눌렀을 때
            replyListener(); // 댓글 이미지 눌렀을 때
            clickLikeBtn(bbsId); // 좋아요 눌렀을 때
            //]]>

        }
    </script>
</th:block>
</body>
</html>