<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <!-- include summernote css/js -->
    <link href="/css/summernote/summernote-lite.css" rel="stylesheet">
    <script src="/js/summernote/summernote-lite.js" defer></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=018eb8b7575e4445992a7236accd391c" defer></script>
    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=018eb8b7575e4445992a7236accd391c&libraries=services"></script>
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    <link rel="stylesheet" type="text/css" href="/css/bbs.css">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div id="writeContent"
         class="d-flex flex-column justify-content-evenly align-items-start form-box">
        <h1 class="flex-grow-0 pb-3 border-bottom">Write Review</h1>
        <form class="form-group d-grid mt-3" id="formEdit" th:action="@{/post/bbs/write}"
              method="post">
            <!-- id -->
            <input type="hidden" id="hiddenId" name="bbsId">
            <!-- lat, lng -->
            <input type="hidden" id="hiddenLat" name="latitude">
            <input type="hidden" id="hiddenLng" name="longitude">
            <input type="hidden" id="hiddenPlaceName" name="placeName">
            <!-- category 선택 -->
            <label id="categoryLabel" class="form-label" for="bbsCategory"><b>Category</b></label>
            <select id="bbsCategory" class="form-select dropdown-toggle" data-bs-toggle="dropdown" name="categoryId">
                <th:block th:each="category : ${session.categoryList}">
                    <option class="dropdown-item" th:value="${category.id}" th:text="${category.name}"></option>
                </th:block>
            </select>
            <!-- 제목 -->
            <label id="titleLabel" class="form-label" for="titleInput"><b>Title</b></label>
            <input type="text" id="titleInput" class="form-control" name="bbsTitle" autofocus><br>
            <span id="titleError" class="valid">빈칸을 채워주세요</span>
            <!-- 내용 -->
            <label id="contentsLabel" for="writeSpace" class="form-label"><b>Contents</b></label>
            <!-- 지도 modal 띄울 버튼 -->
            <button type="button" class="btn btn-outline-secondary" id="mapBtn">
                <b class="me-2">위치 저장하기</b><i class="fas fa-lg fa-map-marker-alt"></i>
            </button>
            <br>
            <span id="contentsError" class="valid">내용을 채워주세요</span>
            <textarea id="writeSpace" class="form-box" name="bbsContents"></textarea>

            <div layout:replace="fragments/mapModal :: modalFragment"></div>

            <div id="btnGroup" class="flex-wrap">
                <a th:href="@{/post/bbs(category=${categoryId})}" id="cancelBtn" class="btn btn-outline-secondary form-button">
                    취소
                </a>
                <button type="submit" id="submitBtn" class="btn btn-primary form-button">등록</button>
            </div>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/editorSetting.js"></script>
    <script src="/js/post/editpost.js"></script>
    <script src="/js/validate.js"></script>
    <script type="text/javascript" src="/js/map/kakaoMap.js"></script>
    <script type="text/javascript">
        //<[CDATA[
        const categoryId = [[${categoryId}]];
        const lat = [[${bbs.latitude}]];
        const lng = [[${bbs.longitude}]];
        //]]>
        window.onload = function () {
            $('#writeSpace').summernote(setting);
            selectCategory(categoryId);
            showMapModal(lat, lng);
            titleValidate();
            contentValidate();
            cancelingWrite();
            validateForm();
            closeMapModal();
        }
    </script>
</th:block>
</body>
</html>