<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<div id="adminNav" class="d-flex flex-nowrap flex-column flex-shrink-0 p-3 bg-white" layout:fragment="NaviAdmin">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" aria-current="page">
            <a th:href="@{/admin/manage}">Members</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/category}">Categories</a>
        </li>
    </ul>
</div>
</body>
</html>