<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
</head>
<body>
<div id="postNav" class="d-flex flex-nowrap flex-column flex-shrink-0 p-3 bg-white" layout:fragment="NaviPost">
    <ul class="nav nav-pills flex-column mb-auto">
        <th:block th:each="category : ${categoryList}">
            <li class="nav-item">
                <a th:href="@{/post/${category.categoryName}}" th:text="${category.categoryName}"></a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>