#adminNav {
    width: 15%;
    margin: 0 auto;
}
#adminContent {
    width: 70%;
    margin: 0 auto;
}

#pageInfo > h1,
#pageInfo > span {
    text-align: center;
}

.current-page {
    font-size: larger;
    font-weight: bold;
}