#categoryEmpty {
    margin: 0 auto;
    text-align: center;
}

.bbs-link {
    text-decoration: none;
}

.bbs-link:hover {
    text-decoration-line: underline;
}

#postNav {
    width: 15%;
    margin: 0 auto;
}

#writeContent {
    width: 80%;
    margin: 0 auto;
}

#tableDiv {
    flex: 1;
}

#tableInfo {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
}

#formEdit {
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 0.5rem 0.25rem;
    align-items: center;
}

#categoryLabel {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#bbsCategory {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#titleLabel {
    grid-row: 2 / 3;
    grid-column: 1/ 2;
}

#titleInput {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

#titleError {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}

#contentsLabel {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-editor,
#writeSpace {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    align-self: stretch;
    resize: none;
    word-break: break-all;
}

#mapBtn {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#contentsError {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#btnGroup {
    grid-row: 5 / 6;
    grid-column: 5 / 6;
    justify-self: end;
}

#searchInput {
    min-width: 0.75rem;
    border: 1px solid #ced4da;
    color: #212529;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

img[id=searchImg] {
    width: 1.4rem;
    height: auto;
    object-fit: scale-down;
    cursor: pointer;
}

#findStandard,
#sortStandard,
#searchInput {
    cursor: pointer;
}

.error {
    display: inline;
    color: red;
}

.valid {
    display: none;
}

.current-loc {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
}

.current-loc button {
    padding: .3rem;
    border: 1px solid lightgrey;
    background-color: #ffffff;
}

#currentImg {
    /*filter: opacity(0.5) drop-shadow(0 0 0 dodgerblue);*/
    object-fit: scale-down;
    width: 1.5rem;
    height: auto;
}

#menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    font-size: 12px;
    border-radius: 10px;
}

.bg_white {
    background: #fff;
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option p {
    margin: 10px 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}

#placesList li {
    list-style: none;
}

.item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

.item span {
    display: block;
    margin-top: 4px;
}

.item h5, #placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item .info {
    padding: 10px 0 10px 0px;
    border-bottom: 1px solid lightslategray;
}

.info .gray {
    color: #8a8a8a;
}

.info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

.info .tel {
    color: #009900;
}

#placePagination {
    margin: 10px auto;
    text-align: center;
}

#placePagination a {
    display: inline-block;
    text-decoration-line: none;
    margin-right: 10px;
    color: #777;
}

#placePagination .on {
    font-size: 1.2rem;
    cursor: default;
    color: black;
}

.search {
    width: 50%;
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 30px;
}

.search #keyword {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #565e64;
    border-radius: .25rem;
}

.search #submit {
    line-height: 30px;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: solid 1px #555;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: content-box;
}