#categoryEmpty {
    margin: 0 auto;
    text-align: center;
}

.bbs-link {
    text-decoration: none;
}
.bbs-link:hover {
    text-decoration-line: underline;
}

#postNav {
    width: 15%;
    margin: 0 auto;
}

#writeContent {
    width: 80%;
    margin: 0 auto;
}

#tableDiv {
    flex: 1;
}

#tableInfo {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
}

#formEdit {
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 0.5rem 0.25rem;
    align-items: center;
}

#categoryLabel {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#bbsCategory {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#titleLabel {
    grid-row: 2 / 3;
    grid-column: 1/ 2;
}

#titleInput {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

#titleError {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}

#contentsLabel {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-editor,
#writeSpace {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    align-self: stretch;
    resize: none;
    word-break: break-all;
}

#mapBtn {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#contentsError {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#btnGroup {
    grid-row: 5 / 6;
    grid-column: 5 / 6;
    justify-self: end;
}

#searchInput {
    min-width: 0.75rem;
    border: 1px solid #ced4da;
    color: #212529;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

img[id=searchImg] {
    width: 1.4rem;
    height: auto;
    object-fit: scale-down;
}

.error {
    display: inline;
    color: red;
}

.valid {
    display: none;
}

.current-loc {
    position: absolute;
    z-index: 100;
    top: 30px;
    right: 30px;
}

.current-loc button {
    padding: .3rem;
    border: 1px solid lightgrey;
    background-color: #ffffff;
}

#currentImg {
    filter: opacity(0.5) drop-shadow(0 0 0 dodgerblue);
    object-fit: scale-down;
    width: 1.5rem;
    height: auto;
}

.search {
    width: 50%;
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 30px;
}

.search #keyword {
    width: 80%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #565e64;
    border-radius: .25rem;
}

.search #submit {
    line-height: 30px;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: solid 1px #555;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: content-box;
}