.bbs-link {
    text-decoration: none;
}
.bbs-link:hover {
    text-decoration-line: underline;
}

#writeContent {
    width: 80%;
    margin: 0 auto;
}

#tableDiv {
    flex: 1;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
}

#formEdit {
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 0.5rem 0.25rem;
    align-items: center;
}

#titleLabel {
    grid-row: 1 / 2;
    grid-column: 1/ 2;
}

#titleInput {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

#titleError {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
}

#contentsLabel {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-editor,
#writeSpace {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    align-self: stretch;
    resize: none;
    word-break: break-all;
}

#contentsError {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

#btnGroup {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    justify-self: end;

}

.error {
    display: inline;
    color: red;
}

.valid {
    display: none;
}