.container > .form-box {
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    text-align : center;
}
button[type=submit] {
    line-height: 1.5rem;
    width: 100%;
}

.error {
    display: block;
    color: black;
    font-weight: bold;
}

.valid {
    display: none;
}