.container > .form-box {
    flex-basis: 50%;
    width: 50%;
}

/*.form-box > h1 {*/
/*    margin-: 3rem;*/
/*    text-align: center;*/
/*    flex-grow: 1;*/
/*}*/

#loginText {
    margin-top: 3rem;
    text-align: center;
    flex-grow: 1;
}

#loginForm {
    flex-grow: 3;
}

#categoryForm {
    margin-left: 20%;
    margin-right: 20%;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form-button {
    margin-top: 1.1rem;
    width: 100%;
}

.error {
    display: block;
    color: black;
    font-weight: bold;
}

.valid {
    display: none;
}