.container > .form-box {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    text-align : center;
}
input[type=submit] {
    width: 100%;
    display: inline-block;
    margin : 0 auto;
}