<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    <hr>
    <!--  sec prefix는 security의 기능을 사용할 수 있다  -->
    <!--  권한이 있는 사용자에게만 해당되는 링크를 보여준다  -->
    <!--  isAnonymous() : 익명의 사용자일 경우, 로그인, 회원가입 버튼을 노출  -->
    <!--  isAuthenticated() : 인증된 사용자일 경우, 로그아웃 버튼을 노출  -->
    <!--  hasRole() : 특정 롤을 가진 사용자에 대해서만 해당되는 메뉴를 노출  -->
    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a><br>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a><br>
    <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a><br>
    <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">마이페이지</a><br>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">관리자 페이지(admin)</a>
</body>
</html>