<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>My Info</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-column justify-content-around align-items-stretch form-box">
        <h1>My Info</h1>
        <form class="form-group" th:action="@{/member/info}" th:object="${memberInfo}" method="post" onsubmit="return validateForm();">
            <input type="hidden" id="hiddenId" th:field="*{id}">
            <!--  username  -->
            <div class="mb-3">
                <label th:for="username" class="form-label" aria-describedby="emailHelpBlock">
                    <b>Email address</b></label>
                <small id="emailHelpBlock" class="text-muted">이메일은 바꿀 수 없습니다.</small>
                <input type="email" class="form-control" id="username" name="username" th:field="*{username}"
                       placeholder="이메일을 입력해주세요" readonly/>
            </div>
            <!-- password -->
            <div class="mb-3">
                <label th:for="signUpPassword" class="form-label" aria-describedby="passwordHelpBlock"><b>Password</b></label>
                <small id="passwordHelpBlock" class="text-muted">비밀번호는 8자 이상으로 해주세요.</small>
                <input type="password" class="form-control" id="signUpPassword" name="password"
                       th:field="*{password}" placeholder="비밀번호" autocomplete="false"/>
                <p class="mt-3 alert alert-danger valid" id="passwordError" name="passwordError"></p>
            </div>
            <!-- nickname -->
            <div class="mb-3">
                <label th:for="nickname" class="form-label"><b>Nickname</b></label>
                <input type="text" class="form-control" id="nickname" th:field="*{nickname}" placeholder="이름"/>
                <p class="mt-3 alert alert-danger valid" id="nicknameError" name="nicknameError"></p>
            </div>
            <!-- Gender -->
            <div class="mb-3">
                <label th:for="gender" class="form-label"><b>Gender</b></label><br>
                <input type="radio" name="gender" id="male" th:field="*{gender}" value="남성" checked> Male
                <input type="radio" name="gender" id="female" th:field="*{gender}" value="여성"> Female
            </div>
            <!-- birth -->
            <div class="mb-3 dropdown">
                <label class="form-label" for="birth"><b>Birth</b></label><br/>
                <div id="birth">
                    <!-- year -->
                    <select class="btn dropdown-toggle" data-toggle="dropdown" id="selectYear" th:field="*{year}">
                        <option class="dropdown-item" value="">년</option>
                        <th:block th:each="year : ${#numbers.sequence(1970, 2021)}">
                            <option class="dropdown-item" th:value="${year}" th:text="${year}"></option>
                        </th:block>
                    </select>
                    <!-- month-->
                    <select class="btn dropdown-toggle" data-toggle="dropdown" id="selectMonth" th:field="*{month}">
                        <option class="dropdown-item" value="">월</option>
                        <th:block th:each="month : ${#numbers.listFormatInteger(#numbers.sequence(1, 12), 2)}">
                            <option class="dropdown-item" th:value="${month}" th:text="${month}"></option>
                        </th:block>
                    </select>
                    <!-- day of month -->
                    <select class="btn dropdown-toggle" data-toggle="dropdown" id="selectDay" th:field="*{day}">
                        <option class="dropdown-item" value="">일</option>
                        <th:block th:each="day : ${#numbers.listFormatInteger(#numbers.sequence(1, 31), 2)}">
                            <option class="dropdown-item" th:value="${day}" th:text="${day}"></option>
                        </th:block>
                    </select>
                </div>
                <div id="birthError" class="mt-3 valid"></div>
            </div>
            <button type="submit" class="btn btn-primary form-button">Update</button>
            <button type="button" class="btn btn-outline-secondary form-button" onclick="window.history.back();">Back</button>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/checkForm.js"></script>
    <script>
        window.onload = function () {
            passwordTooltip();
            passwordValidate('myInfo');
            nicknameValidate('myInfo');
            birthValidate();
        }
    </script>
</th:block>
</body>
</html>