<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <title>My Info</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>My Info</h1>
    <hr>
    <form th:action="@{/member/info}" th:object="${member}" method="post">
        <!--  username  -->
        <div class="mb-3">
            <label th:for="username" class="form-label" aria-describedby="emailHelpBlock"><b>Email address</b></label>
            <small id="emailHelpBlock" class="text-muted">이메일은 바꿀 수 없습니다.</small>
            <input type="email" class="form-control" name="username" th:field="*{username}" placeholder="이메일을 입력해주세요" readonly/>
            <!-- validator에서 error.rejectValue를 통해 넘어온 값을 아래 코드에서 처리해준다. -->
            <p class="alert alert-danger" role="alert" th:if="${ #fields.hasErrors('username')}" th:errors="*{username}">Email Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </p>
        </div>

        <!-- password -->
        <div class="mb-3">
            <label th:for="password" class="form-label" aria-describedby="passwordHelpBlock"><b>Password</b></label>
            <small id="passwordHelpBlock" class="text-muted">비밀번호는 8자 이상으로 해주세요.</small>
            <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="비밀번호"/>
            <p class="alert alert-danger" role="alert" th:if="${ #fields.hasErrors('password')}" th:errors="*{password}">Password Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </p>
        </div>
        <!-- nickname -->
        <div class="mb-3">
            <label th:for="nickname" class="form-label"><b>Nickname</b></label>
            <input type="text" class="form-control" th:field="*{nickname}" placeholder="이름"/>
        </div>
        <!-- age -->
        <div class="mb-3 dropdown">
            <label th:for="age" class="form-label"><b>Age</b></label><br/>
            <select class="btn dropdown-toggle" data-toggle="dropdown" th:field="*{age}">
                <option class="dropdown-item" th:value="20" value="20" selected>23</option>
                <option class="dropdown-item" th:value="21" value="21" selected>23</option>
                <option class="dropdown-item" th:value="22" value="22" selected>23</option>
                <option class="dropdown-item" th:value="23" value="23" selected>23</option>
                <option class="dropdown-item" th:value="24" value="24">24</option>
                <option class="dropdown-item" th:value="25" value="25">25</option>
                <option class="dropdown-item" th:value="26" value="26">26</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-outline-secondary" onclick="window.history.back();">Back</button>
    </form>
</div>
</body>
</html>