<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/editbbs.css">
    <title>Notice</title>
</head>
<body>
<div layout:fragment="content">
    <div id="postContent" class="d-flex flex-column">
        <h2>공지사항</h2>
        <div id="noticesDiv">

        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!--  없으면 ajax가 동작하지 않음  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        window.onload = function () {
            //<[CDATA[
            //]]>
        }
    </script>
</th:block>
</body>
</html>