<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIGNUP PAGE</title>
</head>
<body>
  <h1>회원가입</h1>
  <hr>
  <!--  th:action을 사용하면 Thymeleaf csrf 토큰값을 자동으로 추가해주므로
      hidden 타입으로 넘겨주지 않아도 된다.  -->
  <form th:action="@{/user/signup}" method="post">
    <input type="text" name="email" placeholder="이메일을 입력해주세요"/>
    <input type="password" name="password" placeholder="비밀번호"/>
    <button type="submit">가입하기</button>
  </form>
</body>
</html>