<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <style>
        #emailError, #passwordError, #nicknameError {
            padding: 1em;
            margin-top: 1em;
        }
    </style>

    <th:block layout:fragment="script">
        <script src="/js/checkForm.js"></script>
        <script src="/js/changeSignUpForm.js"></script>
    </th:block>
    <title>Sign Up</title>
</head>
<body onload="changeSignUpForm()">
<div class="container" layout:fragment="content">
    <h1>Sign Up</h1>
    <hr>
    <!-- signUpForm은 Controller에서 넘겨준 객체 -->
    <form name="signUpForm" th:action="@{/signup}" th:object="${memberDto}" method="post" onsubmit="return checkForm();">
        <!-- role -->
        <div class="mb-3" id="roleDiv">
            <label th:for="role" class="form-label"><b>Role</b></label><br/>
            <input type="radio" th:name="role" id="member" value="Member" checked> 일반 회원
            <input type="radio" th:name="role" id="admin" value="Admin"> 관리자
        </div>
        <!--  email  -->
        <div class="mb-3" id="emailDiv">
            <label th:for="signUpEmail" class="form-label" aria-describedby="emailHelpBlock"><b>Email address</b></label>
            <small id="emailHelpBlock" class="text-muted">이메일 형식으로 입력해주세요.</small>
            <input type="email" class="form-control" id="signUpEmail" name="username" placeholder="이메일을 입력해주세요" autocomplete="off"/>
            <p class="alert alert-danger" th:if="${ #fields.hasErrors('username')}" th:errors="*{username}"
               id="emailError" name="emailError">Email Error</p>
        </div>
        <!-- password -->
        <div class="mb-3" id="passwordDiv">
            <label th:for="signUpPassword" class="form-label" aria-describedby="passwordHelpBlock"><b>Password</b></label>
            <small id="passwordHelpBlock" class="text-muted">비밀번호는 8자 이상으로 해주세요.</small>
            <input type="password" class="form-control" id="signUpPassword" name="password" placeholder="비밀번호"/>
            <div>
                <p class="alert alert-danger" id="passwordError" name="passwordError" style="display: none"></p>
            </div>
        </div>
        <!-- nickname -->
        <div class="mb-3" id="nicknameDiv">
            <label th:for="nickname" class="form-label"><b>Nickname</b></label>
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="이름" autocomplete="off"/>
            <p class="alert alert-danger" th:if="${ #fields.hasErrors('nickname') }" th:errors="*{nickname}"
               id="nicknameError" name="nicknameError" style="display: none"></p>
        </div>
        <!-- age -->
        <div class="mb-3 dropdown" id="ageDiv">
            <label th:for="age" class="form-label"><b>Age</b></label><br/>
            <select class="btn dropdown-toggle" data-toggle="dropdown" th:field="*{age}">
                <option class="dropdown-item" th:value="23" value="23" selected>23</option>
                <option class="dropdown-item" th:value="24" value="24">24</option>
                <option class="dropdown-item" th:value="25" value="25">25</option>
                <option class="dropdown-item" th:value="26" value="26">26</option>
            </select>
        </div>
        <!-- Gender -->
        <div class="mb-3" id="genderDiv">
            <label th:for="gender" class="form-label"><b>Gender</b></label>
            <input type="radio" name="gender" id="male" th:name="gender" value="Male" checked/> Male
            <input type="radio" name="gender" id="female" th:name="gender" value="Female"/> Female
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
</body>
</html>