<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <!-- kakaoMap API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ab5c04d7f4a5431d03ba14907e51d79a" defer></script>
    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ab5c04d7f4a5431d03ba14907e51d79a&libraries=services"></script>
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    <title>Map</title>
</head>
<body>
<div layout:fragment="content">
    <div id="map">
        <div id="menu_wrap" class="bg_white">
            <ul id="placeList"></ul>
            <div id="placePagination"></div>
        </div>
        <div class="current-loc">
            <button type="button" id="findCurrentLocation">
                <img id="currentImg" src="/img/current.png">
            </button>
        </div>
    </div>

    <div id="bbsListDialog" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalLabel">Reviews</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <div id="bbsList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/map.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            initMap();
            bbsListModalClose();
        }
    </script>
</th:block>
</body>
</html>