<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
    <title>Admin Main Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="box" sec:authorize="isAuthenticated()">
        <h2 class="text-muted mb-4">관리자 <span sec:authentication="name"></span>님, 반갑습니다!</h2>
    </div>
</div>
</body>
</html>